@charset "UTF-8";
/* CSS Document */

/* General Elements */

.allElement {
  margin-left: 120px;
  margin-right: 120px;
}

#container {
  display: flex;
}

.hidden {
  display: none;
}

h1, h2, h3 {
  color: #2cccd3;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

p {
  color: #333e48;
  text-align: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


.marginT {
  margin-top: 5em;
}

.marginT2 {
  margin-top: 3em;
}

.marginBt {
  margin-bottom: 5em;
}

.marginBt2 {
  margin-bottom: 3em;
}
.marginBt3 {
  margin-bottom: 1em;
}

.marginTb {
  margin-top: 8em;
  margin-bottom: 8em;
}

.marginTb2 {
  margin-top: 3em;
  margin-bottom: 3em;
}

.bgColor {
  background-color: skyblue;
}

/* Header */

#head {
  background-color: white;
}

#headSNS {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.headerSNS a img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: 20px;
}

.headerSNS a img:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1.2);

  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.headerSNSLast a img {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}

.headerSNSLast a img:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1.2);

  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#headNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

#headNav .mainNavi {
  margin: 0;
}

.mainNavi a {
  color: #2cccd3;
  line-height: 120px;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  font-weight: 600 !important;
}

.mainNavi a:hover {
  color: #007aff;
  border-bottom: 3px solid #007aff;
  padding-bottom: 5px;
  cursor: pointer;

  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#headNav .mainLogo {
  width: 200px;
}

#headNav .mainLogo a img:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(1.2);

  -moz-transition: all 3s ease-out;
  -webkit-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out;
}



/* hero */

#heroImage {
  margin: 0;
}

#heroImage img {
  width: 100%;
  height: 800px;
}

/* Page Main, Section 1 */
#fan {
  padding-bottom: 5em;
  padding-top: 5em;
  background-color: #77cdd3;
}

#fan h2 {
  width: 45%;
  height: 80px;
  line-height: 80px;
  margin-bottom: 1.5em;
  margin-left: 320px;
  font-size: 40px;
  color: white !important;
  font-weight: 600 !important;
}

#fanFav {
  display: flex;
  justify-content: space-between;
}

.fanBeer img {
  width: 280px;
  height: 500px;
}

#fanFavText {
  display: flex;
  flex-direction: row;
}

.fanBeerText p {
  font-size: 15px;
  margin-top: 1em;
}

.fanText1 {
  color: #e7f6fd !important;
  font-size: 22px;
  font-weight: 500 !important;
  margin-left: 70px;
}

.fanParaText1  {
  margin-left: 70px;
}

.fanText2 {
  color: #e7f6fd !important;
  font-size: 22px;
  font-weight: 500 !important;
  margin-left: 180px;
}

.fanParaText2  {
  margin-left: 180px;
}

.fanText3 {
  color: #e7f6fd !important;
  font-size: 22px;
  font-weight: 500 !important;
  margin-left: 140px;
}

.fanParaText3  {
  margin-left: 140px;
}

.fanText4 {
  color: #e7f6fd !important;
  font-size: 22px;
  font-weight: 500 !important;
  margin-left: 170px;
}

.fanParaText4  {
  margin-left: 170px;

}

/* Page Main, Section 2 */


#service h2 {
  width: 45%;
  height: 80px;
  line-height: 80px;
  margin-top: 2em;
  margin-bottom: 1.5em;
  margin-left: 320px;
  font-size: 40px;
}

.opening {
  margin-bottom: 3em;
}

.opening p {
  font-size: 16px;
  margin-bottom: 2em;
  text-align: center !important;
  line-height: 20px;
  background-color: #e7f6fd;
  padding-bottom: 3em;
  padding-top: 2em;
}

.smallText {
  font-size: 10px !important;
}

.boldText {
  font-weight: 500;
}

.map {
  margin-bottom: 10em;
}

.mapInfo {
  background-color: #e7f6fd;
  position: absolute;
  top: 2532px;
  right: 120px;
  width: 300px !important;
  height: 200px !important;
  line-height: 22px;
  font-size: 13px;
  padding-top: 10px;
}

.bigText {
  color: #77cdd3;
  font-weight: 500;
  font-size: 18px;
}

/* Footer */

#mainFooter {
  background-color: #77cdd3;
}

#footerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footerNav img {
  margin-top: 7.5em;
  width: 250px;
  height: 200px;
}

#footerNav a img:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.8);

  -moz-transition: all 2s ease-in;
  -webkit-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  transition: all 2s ease-in;
}

#footerMainNav {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

#footerMainNav .footerNavi {
  margin-top: 2.5em;
}

#footerMainNav .footerNavi a {
  line-height: 50px;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  font-weight: 600 !important;
  color: white;
}

#footerMainNav .footerNavi a:hover {
  color: #007aff;
  cursor: pointer;

  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#footSNS {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
}

.footerSNS a img {
  width: 50px !important;
  height: 50px !important;
  margin-right: 15px;
  margin-top: 4em !important;
}

.footerSNSLast a img {
  width: 50px !important;
  height: 50px !important;
  margin-top: 4em !important;
}

#footerEmail {
  margin: 0;
}

#footerEmail form {
  margin-top: 4em;
  margin-bottom: 1.5em;
}

#footerEmail input {
  padding: .5em;
  width: 14.5em;
  height: 2.5em;
  background-color: #e7f6fd;
  color: #77cdd3;
  border: none;
  border-radius: 7px;
}

#footerEmail input[type="submit"] {
  width: 5.5em;
  height: 3.2em;
  background-color: #e7f6fd;
  color: #77cdd3;
  border: none;
  border-radius: 7px;
}

#footerEmail input[type="submit"]:hover {
  color: #007aff;
  cursor: pointer;

  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}


.footerEmailText {
  text-align: left;
  line-height: 25px;
  font-size: 20px;
  color: #e7f6fd !important;
}


.copyright {
  margin-left: 150px;
  margin-right: 150px;
}

.copyright p {
  padding-bottom: 1em;
  color: #e7f6fd !important;
}

/* Home Page, Section 1 */

#aboutUs {
  padding-bottom: 5em;
  padding-top: 5em;
  background-color: #77cdd3;
}

#aboutUs h2 {
  width: 45%;
  height: 80px;
  line-height: 80px;
  margin-bottom: 1.5em;
  margin-left: 320px;
  font-size: 40px;
  color: white !important;
  font-weight: 600 !important;
}

.aboutText {
  background-color: #e7f6fd;
  padding-top: 2em;
  padding-bottom: 2em;
}

.aboutText h3 {
  color: #e58775 !important;
  font-size: 30px;
  font-weight: 500 !important;
}

.aboutText p {
  line-height: 30px;
}

/* Home page, Section 2 */

#faq h2 {
  width: 45%;
  height: 80px;
  line-height: 80px;
  margin-bottom: 1.5em;
  margin-top: 2em;
  margin-left: 320px;
  font-size: 40px;
  font-weight: 600 !important;
}

#faqQuestions {
  display: flex;
  flex-direction: column;
}

.faqQuestion {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.faqQuestion p {
  font-size: 40px !important;
  font-weight: 600 !important;
  background: #e7f6fd;
  padding-left: 1em;
  text-align: left;
  line-height: 90px;
  border: 1.5px double #77cdd3;
  border-right: 4px double #77cdd3;
}

.faqQuestion p a {
  text-decoration: none;
}

.faqQuestion p a:hover {
  cursor: pointer;
  color: #007aff;
  opacity: 0.5;

  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.faqQuestionLast {
  width: 100%;
  height: 100px;
}

.faqQuestionLast p {
  font-size: 40px !important;
  font-weight: 600 !important;
  background: #e7f6fd;
  padding-left: 1em;
  text-align: left;
  line-height: 90px;
  border: 1.5px double #77cdd3;
  border-right: 4px double #77cdd3;
}

.faqQuestionLast p a {
  text-decoration: none;
}

.faqQuestionLast p a:hover {
  cursor: pointer;
  color: #007aff;
  opacity: 0.5;

  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

/* Product Page, section 1 */

#product {
  padding-bottom: 5em;
  padding-top: 5em;
  background-color: #77cdd3;
}

#product h2 {
  width: 45%;
  height: 80px;
  line-height: 80px;
  margin-bottom: .5em;
  margin-left: 320px;
  font-size: 40px;
  color: white !important;
  font-weight: 600 !important;
}

#productNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 250px;
  margin-right: 250px;
  border:5px double #e7f6fd;
  margin-bottom: 3em;
  padding: 1em 2em;
}

#productNav a {
  color: #2cccd3;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

.proNavF {
  line-height: 25px;
  padding-right: 2em;
  border-right: 1px solid #e7f6fd;
}

.proNavF a p {
  color: #e58775;
  font-weight: 500 !important;
}

.proNavF a p:hover {
  color: #f9dfea;
  border-bottom: 3px solid #f9dfea;
  padding-bottom: 5px;
  cursor: pointer;

  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.proNavS {
  color: #e7f6fd !important;
  line-height: 50px;
  padding-right: 4em;
  border-right: 1px solid #e7f6fd;
}

.proNavS a p{
  color: #e7f6fd !important;
  font-weight: 500 !important;
}

.proNavS a p:hover {
  border-bottom: 3px solid #007aff;
  padding-bottom: 5px;
  cursor: pointer;

  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.proNavT {
  color: #e7f6fd !important;
  line-height: 50px;
  padding-right: 3em;
  border-right: 1px solid #e7f6fd;
}

.proNavT a p{
  color: #e7f6fd !important;
  font-weight: 500 !important;
}

.proNavT a p:hover {
  border-bottom: 3px solid #007aff;
  padding-bottom: 5px;
  cursor: pointer;

  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.proNavLast {
  color: #e7f6fd !important;
  line-height: 50px;
  padding-right: 1em;
}

.proNavLast a p {
  color: #e7f6fd !important;
  font-weight: 500 !important;
}

.proNavLast a p:hover {
  border-bottom: 3px solid #007aff;
  padding-bottom: 5px;
  cursor: pointer;

  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}


#coolBeer {
  display: flex;
  justify-content: space-between;
}

.coolaBeer img {
  width: 280px;
  height: 500px;
}

#coolText {
  display: flex;
  flex-direction: row;
}

.coolBeerText p {
  font-size: 15px;
  margin-top: 1em;
}

.coolText1 {
  color: #e7f6fd !important;
  font-size: 22px;
  font-weight: 500 !important;
  margin-left: 70px;
}

.coolParaText1  {
  margin-left: 70px;
}

.coolText2 {
  color: #e7f6fd !important;
  font-size: 22px;
  font-weight: 500 !important;
  margin-left: 180px;
}

.coolParaText2  {
  margin-left: 180px;
}

.coolText3 {
  color: #e7f6fd !important;
  font-size: 22px;
  font-weight: 500 !important;
  margin-left: 140px;
}

.coolParaText3  {
  margin-left: 140px;
}

.coolText4 {
  color: #e7f6fd !important;
  font-size: 22px;
  font-weight: 500 !important;
  margin-left: 170px;
}

.coolParaText4  {
  margin-left: 170px;

}

/* Product page, Footer */

#mainProFooter {
  background-color: #e7f6fd;
}

#PfooterNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#PfooterNav img {
  margin-top: 7.5em;
  width: 250px;
  height: 200px;
}

#PfooterNav a img:hover {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(0.8);

  -moz-transition: all 4s ease-out;
  -webkit-transition: all 4s ease-out;
  -o-transition: all 4s ease-out;
  transition: all 4s ease-out;
}

#PfooterMainNav {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

#PfooterMainNav .PfooterNavi {
  margin-top: 2.5em;
}

#PfooterMainNav .PfooterNavi a {
  line-height: 50px;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  font-weight: 600 !important;
  color: #2cccd3;
}

#PfooterMainNav .PfooterNavi a:hover {
  color: #007aff;
  cursor: pointer;

  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#PfootSNS {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
}

.PfooterSNS a img {
  width: 50px !important;
  height: 50px !important;
  margin-right: 15px;
  margin-top: 4em !important;
}

.PfooterSNSLast a img {
  width: 50px !important;
  height: 50px !important;
  margin-top: 4em !important;
}

#PfooterEmail {
  margin: 0;
}

#PfooterEmail form {
  margin-top: 4em;
  margin-bottom: 1.5em;
}

#PfooterEmail input {
  padding: .5em;
  width: 14.5em;
  height: 2.5em;
  background-color: #2cccd3;
  color: #e7f6fd;
  border: none;
  border-radius: 7px;
}

#PfooterEmail input[type="submit"] {
  width: 5.5em;
  height: 3.2em;
  background-color: #2cccd3;
  color: #e7f6fd;
  border: none;
  border-radius: 7px;
}

#PfooterEmail input[type="submit"]:hover {
  color: #007aff;
  cursor: pointer;

  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}


.PfooterEmailText {
  text-align: left;
  line-height: 25px;
  font-size: 20px;
  color: #2cccd3 !important;
}


.Pcopyright {
  margin-left: 150px;
  margin-right: 150px;
}

.Pcopyright p {
  padding-bottom: 1em;
  color: #2cccd3;
}

/* News Section, Event */

#news {
  padding-bottom: 5em;
  padding-top: 5em;
  background-color: #77cdd3;
}

#news h2 {
  width: 45%;
  height: 80px;
  line-height: 80px;
  margin-bottom: .5em;
  margin-left: 320px;
  font-size: 40px;
  color: white !important;
  font-weight: 600 !important;
}

#eventNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 360px;
  margin-right: 360px;
  border:5px double #e7f6fd;
  margin-bottom: 3em;
  padding: 1em 2em;
}

#eventNav a {
  color: #2cccd3;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}

.eventNavF {
  line-height: 50px;
  padding-right: 2.5em;
  border-right: 1px solid #e7f6fd;
}

.eventNavF a p {
  color: #e7f6fd !important;
  font-weight: 500 !important;
}

.eventNavF a p:hover {
  border-bottom: 3px solid #e58775;
  padding-bottom: 5px;
  cursor: pointer;

  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.eventNavS {
  color: #e7f6fd !important;
  line-height: 50px;
}

.eventNavS a p{
  color: #e7f6fd !important;
  font-weight: 500 !important;
}

.eventNavS a p:hover {
  border-bottom: 3px solid #007aff;
  padding-bottom: 5px;
  cursor: pointer;

  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

#eventImgSec1 {
  margin: 0;
}

#eventImgSec1 img {
  width: 550px;
  height: 350px;
  border-radius: 20px;
  float: left;
}

.domesticNews1 h3 {
  color: #e7f6fd !important;
  font-size: 25px;
  font-weight: 500 !important;
  padding-top: 5em;
  margin-bottom: 1em;
}

.domesticNews1 p {
  font-size: 18px !important;
  line-height: 30px;
  margin-bottom: 10em;
}

#eventImgSec2 {
  margin: 0;
  margin-bottom: 6em;
}

#eventImgSec2 img {
  width: 550px;
  height: 350px;
  border-radius: 20px;
  float: right;
}

.domesticNews2 h3 {
  color: #e7f6fd !important;
  font-size: 25px;
  font-weight: 500 !important;
  padding-top: 2.8em;
  margin-bottom: 1em;
}

.domesticNews2 p {
  font-size: 18px !important;
  line-height: 30px;
}

.emphasize {
  font-size: 20px;
  color: #e58775 !important;
}

.domesticNews2 a {
  background-color: #e7f6fd;
  color: #77cdd3;
}

.domesticNews2 a p {
  margin-left: 12em;
  padding: .5em;
  width: 10em;
  background-color: #e7f6fd;
  color: #77cdd3;
  border: none;
  border-radius: 7px;
}

.domesticNews2 a p:hover {
  cursor: pointer;
  color: #007aff;


  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
